
/* === Web Font === */

font-family: 'Roboto', sans-serif;

/* === Base Style === */

* {
box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.container {
  text-align: center;
}

/* === Base Layout Style === */

.name {
  font-weight: bold;
  font-size: 2.5em;
}

.portfolio {
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
  margin: 3em 0;
}

img {
  max-width: 95%;
  padding: 1em 0;
}

.profile-image {
   max-width: 70%;
}

.col,
.main-contact {
  padding-left: 0.5em;
  padding-right: 0.5em;

}

.main-contact {
  padding-top: 2em;
  margin: 6em 0 0;
  border-bottom: 1px solid	#C0C0C0;
  background: #F5F5F5;
}

.contact-intro {
  font-size: 1.1em;
}

.main-header,
.main-intro {
  padding-left: 1em;
  padding-right: 1em;
  background: #F5F5F5;
}

.main-intro {
  padding-top: 2em;
}

.main-header {
  padding: 0.5em 0;
}

.intro {
  margin: 1em 0 1.5em;
  padding-bottom: 1.2em;
  font-family: normal;
  font-size: 1em;
}

.main-footer {
  background: #F5F5F5;
  padding-top: 1em;
}

/* Navigation */

.main-name,
.main-nav {
  text-align: center;
}

.main-nav li {
  background: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 0 .6em .5em;
  display: block;
}

/* unvisited link */
a:link {
  color: black;
}

/* hover link */
a:hover {
  color: red;
}

/* active link */
a:active {
  color: pink;
}

.footer-nav a {
  display: none;
}

.back-to-top {
  text-transform: uppercase;
}

.back-to-top,
.footer-name {
  font-weight: bold;
  font-size: 1em;
  width: 45%;
  text-align: center;
}

/* Float */

.back-to-top {
  float: right;
}

.footer-name {
  float: left;
}

/* Float Clearfix */

.clearfix::after {
   content: "";
   display: table;
   clear: both;
  }

/* === Media Queries === */

/* tablet */
@media (min-width: 768px) {

  .main-header {
    padding: 0.5em 0 2em;
  }
  .main-nav li {
    display: inline;
    background: #F5F5F5;
  }

  .profile-image {
    float: right;
    width: 35%;

  }

  .intro {
    float: left;
    font-size: 1.2em;
    text-align: center;
    padding: 2em 1em 0;
    width: 55%;
  }

  .main-intro {
    background: none;
  }



}



/* desktop */
@media (min-width: 1024px) {


}
